* {
  margin: 0;
  padding: 0;
}

.center {
  height: 100vh;
  width: 100vw;
  // background: url(../img/wallhaven-57kvd3.png) center center no-repeat;
  background: url(../img/hutao.jpg) center center no-repeat;
  background-size: cover;
  #rainBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // 不阻挡其他元素事件触发
    pointer-events: none;
    .rain {
      position: absolute;
      width: 2px;
      height: 50px;
      background: linear-gradient(rgba(255,255,255, .3), rgba(255,255,255, .6))
    }
  }
}